# ----------------------------
# MaxClient token (required)
# ----------------------------
MAX_TOKEN=

# ----------------------------
# IDs MaxClient chats(format: -213213,-123123123,-3123232)
# ----------------------------
MAX_CHAT_IDS=

# ----------------------------
# Telegram bot token
# ----------------------------
TG_BOT_TOKEN=

# ----------------------------
# ID Telegram chat
# ----------------------------
TG_CHAT_ID=

# ----------------------------
# ID Telegram chat for errors (optional)
# # ----------------------------
MONITOR_ID=

# ----------------------------
# Chat names {"-6852660":"Chat name 1","-6647455":"Chat name 2"}
# ----------------------------
CHAT_NAMES=